body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

:root {
  --color-1: #fffbda;
  --color-2: #ffec9e;
  --color-3: #ffbb70;
  --color-4: #ed9455;
  --color-5: #f6f5f2;
}
